.ok-button{
    background-color: orange;
    border-color:black;
    border-style: solid;
    padding:1px 3px 1px 3px;
}
.salary-message{
  margin-bottom: 10px;
  margin-top: 15px;
  color: rgb(187, 24, 24);
  font-weight: bold;
  font-size: 18px;
}